{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1 class="text-4xl text-center m-6">Toutes les formations</h1>
    <main>
        <section>
            <div class="min-h-screen flex flex-col">
                <!-- Contenu principal -->
                <div class="flex-grow flex justify-center items-center">
                    <div class="courses grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                        {% for courses in course %}
                            <div class="max-w-sm bg-white border-[10px] border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700">
                                <img src="{{ asset('images/course/' ~ courses.image) }}" alt="{{ courses.name }}"/>
                                <div class="p-5">
                                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ courses.name }}</h2>
                                    <p>Categorie : {{ courses.category.name }}</p>
                                    <p class="mt-4 font-normal text-gray-700 dark:text-gray-400">{{ courses.smallDescription | u.truncate(50, '...', false) }}</p>
                                    <a href="{{ path('app_course', {slug: courses.slug}) }}"
                                       class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-4">
                                        Voir plus
                                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Pagination -->
                <div class="mt-6 flex justify-center">
                    {{ knp_pagination_render(course, 'partials/pagination.html.twig') }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
