{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <main>
        <section>
            <h1 class="text-4xl text-center m-4">Toutes nos actualités</h1>
            <div class="min-h-screen flex flex-col">
                <!-- Contenu principal -->
                <div class="flex-grow flex justify-center items-center">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-6">
                        {% for n in news %}
                            <!-- Card -->
                            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <img src="{{ asset('/images/news/' ~ n.image) }}" alt="{{ n.name }}"
                                     class="actuImg rounded mb-4">
                                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ n.name }}</h5>
                                <p>{{ n.createdAt | date('d/m/Y') }}</p>
                                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{{ n.content| u.truncate(40, '...', false) }}</p>

                                <!-- Modal toggle -->
                                <button data-modal-target="modal-{{ n.id }}" data-modal-toggle="modal-{{ n.id }}"
                                        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                        type="button">
                                    Voir plus
                                </button>
                            </div>

                            <!-- Modal -->
                            <div id="modal-{{ n.id }}" tabindex="-1" aria-hidden="true"
                                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-2xl max-h-full">
                                    <!-- Modal content -->
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <!-- Modal header -->
                                        <div class="flex items-center justify-between p-4 border-b rounded-t dark:border-gray-600">
                                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                {{ n.name }}
                                            </h3>
                                            <button type="button"
                                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                    data-modal-hide="modal-{{ n.id }}">
                                                <svg class="w-3 h-3" aria-hidden="true"
                                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-width="2"
                                                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="p-4 space-y-4">
                                            <img src="{{ asset('/images/news/' ~ n.image) }}" alt="{{ n.name }}"
                                                 class="modalImg rounded mb-4">
                                            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                {{ n.content }}
                                            </p>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="flex items-center p-4 border-t border-gray-200 rounded-b dark:border-gray-600">
                                            <button data-modal-hide="modal-{{ n.id }}" type="button"
                                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                Fermer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Pagination -->
                <div class="mt-6 flex justify-center">
                    {{ knp_pagination_render(news, 'partials/pagination.html.twig') }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
